html, body {
	/*height:100%;*/
	overflow: scroll;
	
}
* {
	outline:none;
	
}
body {
	margin:0px;
	padding:0px;
	background: none;
	font-family:'Century Gothic', arial, serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family:"concielian_condensedcondensed", "Trebuchet MS", sans-serif;
	margin:0;
}

 a {
	
	color: #505050;
}

#logo img{
		width: 170px;
	}
#slide-one { 
  background:url(../assets/bg2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#slide-three { 
  background:url(../assets/bg1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#slide-four { 
  background:url(../assets/bg3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#facebook {
	position:fixed;
	z-index:4;
	left:10px;
	top:10px;
	padding:10px;
	color:#FFF;
	font-size: 30px;
	letter-spacing: 1px;
	text-shadow:rgba(0, 0, 0, 0.50) 0 1px 1px;
}
hgroup {
	/*position:absolute;
	top:50%;
	left:50%;
	margin-left:400px;*/
	margin-top:10%;
	z-index:3;
	
}

hgroup img{
	
	margin-left:-284px;
	padding-left:50%;
	min-width:500px;

	
	
}
hgroup h1 {
	margin: 0px;
	text-shadow:rgba(0, 0, 0, 1) 3px 2px 0;
}
hgroup h4 {
	font-family:'Century Gothic', arial, serif;
	font-size: 22px;
	font-weight:normal;
	margin: 0px;
}
hgroup a {
	text-decoration:none;
	color: #FFF;
	border-bottom: 1px dashed #FFF;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	transition: all 1s ease-out;
}
hgroup a:hover {
	background: rgba(0, 0, 0, 0.50);
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	transition: all 1s ease-out;
}


.dwmenu{

}

#barra{
position:absolute;
z-index:200;
top:0px;
right: 660px;
height:41px;
float: left;}



#iconos{
	
	text-align:center;
		}
		
#iconos h1{
	font-size:12px;
	font-weight:normal;
	text-align:center;

	}

#iconos ul li{
		height: 135px;
		width: 100px;
		margin-left:5%; 
		margin-top:1.3%;
	}
	
#iconos img{
		width: 91px;
		height: 46px;
	}
#logo {
	
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	}	
	
#bandera{
	background:url(../assets/BanderaTop.png) no-repeat;
	position:fixed;
	top:0;
	right:0;
	
	height:200px;
	width:300px;
	z-index:100;
	
	}	
#footer{
	
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	height:44px;
	z-index:100;
	float:left; 
	color:#CCC;
	}
	
#redes {
height:41px;
float:left;
margin-left: 10px;
}

#fgroup{
	background-color: #363434 ;
	float:left;
	padding: 5px;
	width: calc(100% - 207px);

/* Firefox */
width: -moz-calc(100% - 207px);
/* WebKit */
width: -webkit-calc(100% - 207px);
/* Opera */
width: -o-calc(100% - 207px);
/* Standard */
width: calc(100% - 207px);
	}
	
#fcontacto{
	
	height:41px;
	
	float:left;}	

#fcontacto img {
	
	float:left;}
	
#fcontacto h4 {
	margin: 8px;
	float:left;}

#dirtel , #dirtel h6, #dirtel img{
	float: left;
	line-height: 16px;
	height: 12px;
	margin: 0;
	display: inline-table;
	margin-left: 10px;
	}
#flag{
	background:url(../assets/BanderaDown.png) no-repeat;
	width: 530px;
	height:41px;
	float: right;
	display:inline-block;
	padding-top: 11px;
	padding-left: 30px;

}

#disena{
	float: right;
	height:46px;
	width:198px;
	position:absolute;
	right:0;
	}

/* ---------------------------------------------------- */
/* GLOBAL
/* ---------------------------------------------------- */


/* ---------------------------------------------------- */
/* SLIDESHOW
/* ---------------------------------------------------- */
#slideshow {
width: 100%;
background-color:#FDD432;
}

#slideshow ul {
list-style-type: none;

}
ul{
	
	padding: 0;}
#slideshow ul:after {
content: ".";
clear: both;
display: block;
height: 0;
visibility: hidden;} 

#slideshow section{
	padding-top: 120px;
}
/* ---------------------------------------------------- */
/* SLIDESHOW > SLIDES
/* ---------------------------------------------------- */
#slideshow .slides {
overflow: hidden;
width: 100%;
;
}
#slideshow .slides #slide-one{
}

#slideshow .slides #slide-two{
}


#slideshow .slides ul {
/* total width of all slides -
960px multiplied by 3 in this case */
width: 100%;
/* margin: 0; */
max-width: 1050px;
margin: auto;
}

#slideshow .slides li {
float: left;
background-color:#FDD432;
}

#slideshow .slides h2 {
margin-top: 0;}

/* ---------------------------------------------------- */
/* SLIDESHOW > NAVIGATION
/* ---------------------------------------------------- */
#slideshow .slides-nav {
position:fixed;
z-index:200;
font-family: concielian_condensedcondensed;
  font-size:1.5em;
  max-width:530px;
min-height:36px;
padding:5px 10px 0 0;

background-color:#FFF;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* future proofing */
-khtml-border-radius: 10px; /* for old Konqueror browsers */
}

#slideshow .slides-nav li {
float: left;
margin: 3px 0px 0px 10px;
text-decoration: none;
}

#slideshow .slides-nav li a {
display: block;
outline: none;
text-decoration: none;
float: left;
border-right: solid 1px #000;
padding: 0 10px 0 0;
}
#slideshow .slides-nav li img{ 
float: left;
margin-left: 10px;
}
/* ---------------------------------------------------- */
/* SLIDESHOW > aCTIVATION
/* ---------------------------------------------------- */

#slideshow .slides-nav li.active,
#slideshow .slides-nav li.active a {
	color:#FDD432;
}

#slideshow on .activeSlide .slides-nav li.active a {
color:#FDD432;
position: relative;
font-size: 1.6em;}

/* ---------------------------------------------------- */
/* SLIDESHOW > PRENDER BOTON 1 CUANDO EMPIEZA
/* ---------------------------------------------------- */

.js #slideshow .slides-nav li.active,
.js #slideshow .slides-nav li.active a {
}

.js #slideshow .slides-nav li.active a {
	color:#FDD432;
position: relative;
top: -4px;}

@media screen and (max-width: 524px) {


	#logo img{
		width: 90px;
	}
	#bandera {
		display: none;
	}
	#barra{
		right: 240px;
	font-size: 11px;
}
	.slides-nav{
	width: 260px;
	}

	#slideshow .slides-nav{
		padding: 5px 5px 0 ;

	}
	#slideshow .slides-nav li{
		margin: 0 2px 0 2px;
		width: 109px;
	}
	#slideshow .slides-nav li a {
		width: 120px;
		border-right: none;
		text-align: center;
	}

	#barra ul{
		margin: 0 0 0 0;
		width: 226px;
	}

	#slideshow section{
		padding-top: 70px;
	}
	#footer {
		height: 41px;
		background-color: #363434;
	}
	#fcontacto{

		display:none;
	}
	#fgroup{
		width: calc(100% - 33px);
		width: -moz-calc(100% - 33px);
		width: -webkit-calc(100% - 33px);
		width: -o-calc(100% - 33px);
		width: calc(100% - 33px)
	}
	#disena{

	top: -20px;
	right: -76px;
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
	}
	#disena img{
		width: 150px;


	}

	#flag{
		display: none;
	}
	
	#iconos img{
		width: 55px;
		height: 28px;
	}
	#iconos ul li{
		width: 60px;
		height: 75px;
		margin-left:6%; 
		margin-top:2.3%;
	}
	 
@media (max-width: @iphone-screen) {
       #slide-one{

        background-attachment: scroll;
    	}
	}
	 
}
@media screen and (min-width: 525px) and (max-width: 1025px) {
	
	#logo img{
		width: 120px;
	}
	#bandera {
		display: none;
	}
	#barra{
	top:5px;
	right: 419px;
	font-size: 11px;}
	.slides-nav{
	width: 330px;
	}

	#slideshow .slides-nav li{
		margin: 0 5px 0 5px;
		
	}
	#slideshow .slides-nav li a {
		
		border-right: none;
		text-align: center;
	}

	#barra ul{
		margin: 0 0 0 0;
		width: 400px;
	}

	#slideshow section{
		padding-top: 40px;
	}


	#flag{
		display: none;
	}

	#iconos img{
		width: 55px;
		height: 28px;
	}
	#iconos ul{

		width: 50px;
	}
	#iconos ul li{
		width: 60px;
		height: 75px;
		margin-left:15%; 
		margin-top:2.3%;
	}
}
@media screen and (min-width: 1024px) {
	
}